.container {
  padding: 0rem;
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-items: center;
  /* overflow-x: hidden; */
}

.main {
  max-width: 100vw;
  padding: 4rem 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Typography */
.title {
  color: var(--heading-color);
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.36px;
  margin: 24px 0 32px 0;
}
/* Header */

.header {
  display: flex;
  max-width: 100vw;
  padding: 32px;
}

.logo {
  height: 1rem;
  margin-left: 0.5rem;
}

/* Footer */
.footer {
  padding: 56px 0 56px 0;
  height: 354px;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--heading-color);
  justify-self: flex-end;
}

@media (min-width: 650px) {
  .footer {
    height: 80px;
    display: flex;
    flex-direction: row;
    height: 5rem;
  }
}

/* Images */
.img {
  max-width: 83vw;
  height: auto;
}

/* Btns */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 48px;
  color: var(--main-color);
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
}

.btnIconContainer {
  background-color: #1d3444;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  width: 48px;
}

.aboutMeBtn {
  justify-content: space-between;
  align-items: center;
  color: var(--main-color);
  background-color: var(--btn-color);
  padding-right: 35px;
  margin-bottom: 96px;
}

/* @media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
} */
